@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Mochiy+Pop+P+One&family=Poppins:wght@700&display=swap');
p {
    font-family: 'DM Mono';
    font-weight: 300;
    color: #2F281E;
    font-size: 14px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background: #F3F5FC;
}

.navbar {
    max-width: 100vw;
    background: #F3F5FC;
}

.navbar-nav>.active>a {
    font-family: 'DM Mono' !important;
    color: #2F3A8F !important;
    font-weight: 500 !important;
    font-size: 20px;
    border-bottom: 3px #FE7E6D solid;
    margin:0px 10px 0px 10px;
}
.navbar-nav .nav-item .nav-link {
    font-family: 'DM Mono';
    font-weight: 500 !important;
    font-size: 20px;
    color: #2F3A8F;
    margin:0px 10px 0px 10px;
}

.navbar .btn-primary {
    font-family: 'DM Mono';
    background: #2F3A8F;
    border: 5px solid #FE7E6D;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: normal;
}

.hero {
    margin: 100px 0px 200px 0px;
}
.hero .garis {
    width: 100px;
    height: 30px;
    background-color: #FE7E6D;
}
.hero h1 {
    font-family: 'Mochiy Pop P One',
    sans-serif;
    font-size: 60px;
    line-height: 104px;
    color: #2C2C2C;
    margin-left: 20px;
}
.hero span {
    color: #2F3A8F;
}

.hero p {
    font-size: 30px;
    line-height: 47px;
    color: #A5A1A8;
}

.project {
    padding: 40px 0px 20px 0px;
    background-color: #2F3A8F;
    margin-bottom: 100px;
}
.project .img-project {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}
.description {
    margin-bottom: 100px;
}
.description .profile-creator {
    padding: 25px 30px 25px 30px;
    background-color: #FE7E6D;
    width: 60%;
    border-radius: 20px;
}
.description .img-creator {
    border: 5px #2F3A8F solid;
    border-radius: 100%;
}
.description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #FFFFFF;
}
.description span {
    font-family: 'Poppins';
    color: #EEEEF3;
}
.description .card-description p {
    font-weight: 400;
    font-size: 25px;
    color: #2C2C2C;
    text-align: justify;
}

.description .card-description .btn-primary {
    font-family: 'DM Mono';
    background: #2F3A8F;
    border: 5px solid #FE7E6D;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: normal;
}

.description .card-academic-experience {
    border-bottom: 0;
}
.nav-tabs .nav-item .nav-link {
    background-color: #FE7E6D !important;
    border: 5px #FE7E6D solid;
    color: #FFFFFF;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #2F3A8F !important;
    border: 5px #FE7E6D solid;
    color: #FFFFFF;
}
.description .tabcontent-academic-experience p {
    font-size: 20px;
}

.description .tabcontent-academic-experience li {
    list-style: none;
}
.description .tabcontent-academic-experience .bulet {
    width: 30px;
    height: 30px;
    margin-left: -49px;
    padding: 3px;
    background-color: #2F3A8F;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius:100px;
    position: absolute;
    text-align: center;
}

.certificate {
    margin-bottom: 100px;
}
.certificate h3 {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}
.certificate .card-certificate {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
}

.skill {
    margin-bottom: 100px;
}

.skill h3 {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}

.skill .card-skill {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 50px 0px 0px 0px;
    background: #2F3A8F;
}
.footer .text-copyright-salim {
    font-family: DM Mono;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}
.footer .btn-primary {
    font-family: 'DM Mono';
    background: #2F3A8F;
    border: 5px solid #FE7E6D;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: normal;
}
.footer h2 {
    font-family: DM Mono;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}
.footer h6 {
    font-family: DM Mono;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}
.footer ul {
    font-family: DM Mono;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}
.footer li {
    list-style: none;
    margin-bottom: 10px;
}
.footer .bulet-white {
    width: 10px;
    height: 10px;
    margin-left: -29px;
    padding: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    position: absolute;
    text-align: center;
    margin-top: 5px;
}
.copyright {
    font-family: DM Mono;
    background: #FE7E6D;
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
    justify-content: center;
    display: flex;
    color: white;
}

@media only screen and (max-width: 768px) {
     .navbar .btn-primary {
         margin-top: 10px;
         margin-left: 0 !important;
     }
    .hero h1 {
        font-family: 'Mochiy Pop P One';
        font-size: 52px;
        color: #2C2C2C;
    }
    .description .profile-creator {
        width: 100%;
    }
    .description .img-creator {
        margin-bottom: 30px;
    }
    .description h4 {
        font-size: 32px;
    }
}



/* PAGE PORTFOLIO */
.title-portfolio{
    margin-top: 30px;
    margin-bottom: 50px;
}
.title-portfolio h1{
    font-family: 'Mochiy Pop P One',
    sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: #2C2C2C;
}

.title-portfolio p {
    font-size: 20px;
    color: #A5A1A8;
    margin: 0 auto;
    max-width: 60%;
}

.project-portfolio {
    margin-bottom: 100px;
}
.project-portfolio .img-project {
    object-fit: cover;
    width: 100% !important;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.project-portfolio .card-project {
    border-radius: 20px;
    margin-bottom: 30px;
}
.project-portfolio .card-project .bg-primary {
    background: #2F3A8F !important;
    color: white;
    border-radius: 0px 0px 20px 20px;
    margin-top: -1px;
}
.project-portfolio .card-project span {
    font-family: DM Mono;
    color: white;
    font-size: 12px;
    font-weight: 300px;
}
.project-portfolio .card-project h3 {
    font-family: DM Mono;
    color: white;
    font-size: 20px;
}
.project-portfolio .card-project .btn-primary {
    background: #FE7E6D !important;
    color: white;
    border-radius: 20px;
    font-size: 11px;
    font-family: DM Mono;
    border: none;
}



/* PAGE BLOGGER */
.title-blog {
    margin-top: 30px;
    margin-bottom: 50px;
}
.title-blog h1 {
    font-family: 'Mochiy Pop P One',
        sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: #2C2C2C;
}

.title-blog p {
    font-size: 20px;
    color: #A5A1A8;
    margin: 0 auto;
    max-width: 60%;
}

.blogger {
    margin-bottom: 100px;
}
.blogger h3 {
    font-family: 'DM Mono';
    color: #2C2C2C;
    font-size: 20px;
    font-weight: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FE7E6D;
    max-width: 40%;
}

.blogger .textinput-search {
    border-radius: 50px;
    padding: 20px !important;
    height: 50px;
    background: none;
    font-family: 'DM Mono';
}

.blogger .img-post {
    object-fit: cover;
    width: 100% !important;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.blogger .card-post {
    /* height: 200px/; */
    border-radius: 20px;
    margin-bottom: 20px;
}

.blogger .card-post .bg-primary {
    background: #2F3A8F !important;
    color: white;
    border-radius: 0px 0px 20px 20px;
    margin-top: -1px;
}

.blogger .card-post span {
    font-family: DM Mono;
    color: white;
    font-size: 12px;
    font-weight: 300px;
}

.blogger .card-post small {
    font-family: DM Mono;
    color: white;
    font-size: 11px;
    font-weight: 300;
}
.blogger .card-post h2 {
    font-family: DM Mono;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.blogger .card-post p {
    font-family: DM Mono;
    color: white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
}

.blogger .card-recent-post {
    margin-bottom: 20px;
}

.blogger .card-recent-post .img-fluid {
    border-radius: 10px !important;
}
.blogger .card-recent-post small {
    font-family: DM Mono;
    font-size: 10px;
    font-weight: 300;
    color: #2C2C2C;
}
.blogger .card-recent-post h6 {
    font-family: DM Mono;
    font-size: 14px;
    font-weight: 500;
    color: #2C2C2C;
}
.blogger .card-recent-post p {
    font-family: DM Mono;
    font-size: 10px;
    font-weight: 300;
    color: #2C2C2C;
}

.blogger .card-category-post ul {
    font-family: DM Mono;
    font-weight: 300;
    font-size: 15px;
    color: #2C2C2C;
}
.blogger .card-category-post li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.blogger .card-category-post .bulet-color {
    width: 10px;
    height: 10px;
    margin-left: -29px;
    padding: 3px;
    background-color: #2F3A8F;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    position: absolute;
    text-align: center;
    margin-top: 5px;
}